<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.MeleeAtkMod'}} ({{data.scores.str.atkmod}})
      </li>
      <li>
        {{localize 'ASSH.MeleeAtkDmg'}} ({{data.scores.str.dmgmod}})
      </li>
      <li>
        {{localize 'ASSH.TestOfStr'}} ({{data.scores.str.test}})
      </li>
      <li>
        {{localize 'ASSH.ExFeatStr'}} ({{data.scores.str.feat}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.MissileAtkMod'}} ({{data.scores.dex.atkmod}})
      </li>
      <li>
        {{localize 'ASSH.DefenceAdj'}} ({{data.scores.dex.defmod}})
      </li>
      <li>
        {{localize 'ASSH.TestOfDex'}} ({{data.scores.dex.test}})
      </li>
      <li>
        {{localize 'ASSH.ExFeatDex'}} ({{data.scores.dex.feat}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.HitPointAdj'}} ({{data.scores.con.hpmod}})
      </li>
      <li>
        {{localize 'ASSH.PoisonAdj'}} ({{data.scores.con.poison}})
      </li>
      <li>
        {{localize 'ASSH.TraumaSur'}} ({{data.scores.con.trauma}})
      </li>
      <li>
        {{localize 'ASSH.TestOfCon'}} ({{data.scores.con.test}})
      </li>
      <li>
        {{localize 'ASSH.ExFeatCon'}} ({{data.scores.con.feat}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.Languages'}} ({{data.scores.int.languages}})
      </li>
      <li>
        {{localize 'ASSH.MagBonusSpellsDay'}} ({{data.scores.int.bonusSpells}})
      </li>
      <li>
        {{localize 'ASSH.MagLearnNewSpell'}} ({{data.scores.int.learnSpells}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.WillpowerAdj'}} ({{data.scores.wis.willadj}})
      </li>
      <li>
        {{localize 'ASSH.ClrBonusSpellsDay'}} ({{data.scores.wis.bonusSpells}})
      </li>
      <li>
        {{localize 'ASSH.ClrLearnNewSpell'}} ({{data.scores.wis.learnSpells}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ASSH.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'ASSH.ReactLoyalityAdj'}} ({{data.scores.cha.loyalty}})
      </li>
      <li>
        {{localize 'ASSH.NbrHenchmen'}} ({{data.scores.cha.henchmen}})
      </li>
      <li>
        {{localize 'ASSH.TurnUndeadAdj'}} ({{data.scores.cha.turn}})
      </li>
    </ol>
  </div>
</form>
